body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #95388b;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    position: relative;
}

.info img {
    max-width: 300px;
    height: auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 0;
    border: 2px solid black;
    margin-left: 20px;
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.light {
    background-color: #ffffff;
}

.dark {
    background-color: #c493c0;
}

.piece {
    cursor: grab;
}

.turn-indicator {
    width: 150px;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    border-radius: 10px;
    position: absolute;
}

#black-turn {
    background-color: #000;
    color: #fff;
    top: 10px;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 130px; 
    margin-left: 9px;


}

#white-turn {
    background-color: #fff;
    color: #000;
    bottom: 10px;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 130px; 
    margin-left: 9px;

}
